{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.summary.features|length > 0 %}
        {% set icon %}
            {{ include('@Flagception/collector/icon.svg') }}
            <span class="sf-toolbar-value">{{ collector.summary.features }} features</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Features</b>
                <span>{{ collector.summary.features }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Active features</b>
                <span>{{ collector.summary.activeFeatures }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Inactive features</b>
                <span>{{ collector.summary.inactiveFeatures }}</span>
            </div>
            {% if collector.summary.corruptFeatures > 0 %}
                <div class="sf-toolbar-info-piece">
                    <b>Corrupt features</b>
                    <span>{{ collector.summary.corruptFeatures }}</span>
                </div>
            {% endif %}
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {%- if collector.summary.features == 0 %} disabled{% endif %}">
        <span class="icon">
        {{ include('@Flagception/collector/icon.svg') }}
        </span>
        <strong>Features</strong>
        {% if collector.summary.features > 0 %}
            <span class="count">
                <span>{{ collector.summary.features }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <h2>Metrics</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.summary.features }}</span>
            <span class="label">Features</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.summary.activeFeatures }}</span>
            <span class="label">Active features</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.summary.inactiveFeatures }}</span>
            <span class="label">Inactive features</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.summary.corruptFeatures }}</span>
            <span class="label">Corrupt features</span>
        </div>
    </div>

    <h2>States</h2>
    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">States <span class="badge status-">{{ collector.summary.features }}</span></h3>

            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th class="col">Feature name</th>
                        <th class="col">State</th>
                        <th class="col">Amount requests</th>
                        <th class="col">Amount active</th>
                        <th class="col">Amount inactive</th>
                        <th class="col">Activators</th>
                    </tr>
                    </thead>
                    {% for name, request in collector.requests %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>
                                {% if request.activeRequests > 0 and request.inactiveRequests == 0 %}
                                    <span class="label status-success same-width">ACTIVE</span>
                                {% elseif request.inactiveRequests > 0 and request.activeRequests == 0 %}
                                    <span class="label status-error same-width">INACTIVE</span>
                                {% else %}
                                    <span class="label status-warning same-width">CORRUPT</span>
                                {% endif %}
                            </td>
                            <td>{{ request.requests }}</td>
                            <td>{{ request.activeRequests }}</td>
                            <td>{{ request.inactiveRequests }}</td>
                            <td>{{ request.activators|join(', ') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="tab">
            <h3 class="tab-title">Activators <span class="badge status-">{{ collector.activators|length }}</span></h3>

            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th class="col">Priority</th>
                        <th class="col">Name</th>
                        <th class="col">Amount requests</th>
                        <th class="col">Amount active</th>
                        <th class="col">Amount inactive</th>
                    </tr>
                    </thead>
                    {% for activator in collector.activators %}
                        <tr>
                            <td>{{ activator.priority }}</td>
                            <td>{{ activator.name }}</td>
                            <td>{{ activator.requests }}</td>
                            <td>{{ activator.activeRequests }}</td>
                            <td>{{ activator.inactiveRequests }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No activators defined</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="tab">
            <h3 class="tab-title">Decorators <span class="badge status-">{{ collector.decorators|length }}</span></h3>

            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th class="col">Priority</th>
                        <th class="col">Name</th>
                    </tr>
                    </thead>
                    {% for decorator in collector.decorators %}
                        <tr>
                            <td>{{ decorator.priority }}</td>
                            <td>{{ decorator.name }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No decorators defined</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="tab">
            <h3 class="tab-title">Log</h3>

            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th class="col">Feature name</th>
                        <th class="col">State</th>
                        <th class="col">Activator</th>
                        <th class="col">Context</th>
                    </tr>
                    </thead>
                    {% for trace in collector.trace %}
                        {% for activator, result in trace.stack %}
                            <tr>
                                <td>{{ trace.feature }}</td>
                                <td>
                                    {% if result %}
                                        <span class="label status-success same-width">ACTIVE</span>
                                    {% else %}
                                        <span class="label status-error same-width">INACTIVE</span>
                                    {% endif %}
                                </td>
                                <td>{{ activator }}</td>
                                <td>{{ dump(trace.context.all) }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
